
body{
    color: #838b8b;
    font-size: 14px;
}
h1{
    text-transform: capitalize;
    text-decoration: underline;
    font-family: 'Times New Roman';
}
p.a{
    text-align: left;
}
p.b{
    text-align: right;
}
mark{
    font-weight: bold;
}
